h2.post-title {
color: rgb(12, 37, 119);
background-color:  rgb(236, 230, 111);
}
.post-item {
background-color: rgb(236, 230, 188);
}
.post-author{
    text-transform: capitalize;    /*6itas neveikia */
    color: rgb(29, 179, 74);
}
.comments-wrapper {
    background-color: rgb(253, 255, 240);
}


.active {
    color: rgb(155, 190, 29);
    font-weight: bold;
  } 